@import "config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar
  font-size: 16px;
}

.header {
  position: relative;
  display: flex;
  padding: 120px;
  background: gray;
  justify-content: center;
  align-content: center;
}

.main {
  max-width: 1200px;
}

.alignboxes {
  display: flex;
}

.alignboxLeft {
  display: flex;
  flex-grow: 2;
}

.alignboxRight {
  display: flex;
  flex-grow: 2;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 32%;
  margin-bottom: 16px;
  background-color: #fff;
}

#Buttons-filters {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

// TODO import
